<form method="post" action="{{ path('cart_add') }}" class="booking-form">
    <input type="hidden" value="{{ event.id }}" name="eventId">
    <button class="button is-dark"><i class="fas fa-money-bill-wave"> Book</i></button>
</form>
