{% extends 'base.html.twig' %}

{% block title %}Hello EventController!{% endblock %}

{% block body %}
    <h2 class="title">List of events</h2>
    <hr>
    <div class="columns">
        {% for event in events %}
            <div class="column is-12 is-4-desktop">
                <div class="card">
                    <div class="card-image">
                        <figure class="image is-4by3">
                            {% for media in event.media %}
                                {% if media.type.name == 'cardEvent' %}
                                    <img src="{{ asset('images/events/' ~ media.imgUrl) }}" alt="">
                                {% endif %}
                            {% endfor %}
                        </figure>
                    </div>
                </div>
            </div>
        {% else %}
            No event right now !
        {% endfor %}
    </div>
{% endblock %}
