{% extends 'admin/base.html.twig' %}

{% block title %}{{ parent() }} - Admin Edit Event{% endblock %}

{% block body %}
    <h2 class="title">Edit Event</h2>
    <hr>

    {{ include('admin/event/_form.html.twig', {'button_label': 'Update'}) }}

    <a href="{{ path('admin_event_index') }}" class="button is-dark">Back to list</a>

    {{ include('admin/event/_delete_form.html.twig') }}
{% endblock %}
