{% extends 'admin/base.html.twig' %}

{% block title %}{{ parent() }} - Admin Add Event{% endblock %}

{% block body %}
    <h2  class="title">Create new Event</h2>
    <hr>

    {{ include('admin/event/_form.html.twig') }}

    <a href="{{ path('admin_event_index') }}" class="button is-dark">Back to list</a>
{% endblock %}
