{% extends 'base.html.twig' %}

{% block title %}Log in!{% endblock %}

{% block body %}

    <h2 class="title">Login</h2>
    <hr>

    <div class="column is-12 is-8-desktop forms">
        <form method="post" class="box form-box">
            {% if error %}
                <div class="notification is-danger">{{ error.messageKey|trans(error.messageData, 'security') }}</div>
            {% endif %}

            <div class="field">
                <label for="inputEmail" class="label">Email</label>
                <div class="control">
                    <input type="email" value="{{ last_username }}" name="email" id="inputEmail" class="input"
                           placeholder="Email" required autofocus>
                </div>
            </div>
            <div class="field">
                <label for="inputPassword" class="label">Password</label>
                <div class="control">
                    <input type="password" name="password" id="inputPassword" class="input" placeholder="Password"
                           required>
                </div>
            </div>

            <input type="hidden" name="_csrf_token"
                   value="{{ csrf_token('authenticate') }}"
            >

            {#
                Uncomment this section and add a remember_me option below your firewall to activate remember me functionality.
                See https://symfony.com/doc/current/security/remember_me.html

                <div class="checkbox mb-3">
                    <label>
                        <input type="checkbox" name="_remember_me"> Remember me
                    </label>
                </div>
            #}

            <div class="field">
                <div class="control buttonSubmit">
                    <button class="button is-primary" type="submit">
                        Sign in
                    </button>
                </div>
            </div>
        </form>
    </div>
{% endblock %}
