.table{
  tbody{
    .table-head{
      th {
        text-align: center;
      }
    }
    tr{
      td{
        text-align: center;
      }
      .totalPrice{
        text-align: center;
      }
    }
  }
}